.left-panel {
  width: 100%;
  height: 100%;

  .image-with-text {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .panel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-in-img {
    position: absolute;
    top: 0;
    // left: 0;
    // right: 0;
    bottom: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background: rgba(0, 0, 0, 0.3);

    .logo {
      font-size: 32px;
      margin-bottom: 20px;
    }

    .center-content__item {
      font-size: 60px;
      font-weight: 300;
      // max-width: 90%;
      line-height: 55px;
    }

    .bottom-content__img{
      p {
        margin: 5px 0;
      }
    }
  }
}